.photos__container {
  background-color: aqua;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 70vw;
  height: 80vh;
  overflow: scroll;
  padding: 5%;
}

.photos__container > img {
  background-color: black;
  width: 20vw;
  height: 20vw;
  object-fit: cover;
  margin: 1%;
}
