.sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sidebar__header {
  background-color: aqua;
  min-height: 25vh;
}

.sidebar__content {
  background-color: aquamarine;
  min-height: 60vh;
}

.sidebar__footer {
  background-color: brown;
  min-height: 15vh;
}
