.App {
  overflow: hidden;
}

.main {
  display: flex;
  background-color: #f5f5f5;
}

.main-left {
  flex: 0.23;
  height: 100vh;
}

.main-right {
  flex: 0.77;
  height: 100vh;
  /* background-color: aqua; */
}
